/* These are just a test styles - you don't need them in your project */
body {
    background-color: #444;
    padding-top: 40px;
    font: 15px/1.3 Arial, sans-serif;
    color: #fff;
}

a {
    color: orange;
}

.page-title {
    font: 400 40px/1.5 Open Sans, sans-serif;
    text-align: center;
}

.circles {
    text-align: center;
}

.circles p {
    margin: 40px 0;
}

.circle {
    width: 100px;
    height: 100px;
    margin: 6px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle canvas {
    vertical-align: top;
}

.circle strong {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    margin-top: -20px;
    font-size: 30px;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

.minor-info {
    font-size: 0.8em;
    color: #aaa;
}

